html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("./assets/background.jpg");
  background-size: cover;
  background-position: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50rem;
  min-height: 30rem;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  opacity: 0.95;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  background-image: url("./assets/search.svg");
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: 1rem 50%;
  width: 28rem;
  height: 5rem;
  padding: 1.1rem 2rem 1rem 4rem;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 10px 30px -10px hsla(0, 0%, 0%, 1);
  margin-bottom: 2rem;
  outline-width: 0;
}

.card {
  /* opacity: 0.95; */
  background-color: #fff;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 0px 20px 30px -10px hsla(0, 0%, 0%, 1);
}

.card__header,
.card__city {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.card__header > p {
  color: gray;
  font-weight: 600;
  font-size: 1.3rem;
}

.card__header > h2 {
  font-size: 1.4rem;
}

.card__city {
  margin-bottom: 0;
}

.card__city > h2 {
  font-size: 3rem;
}

.card > h4 {
  font-size: 1.5rem;
}

.card__city-temp {
  display: flex;
  align-items: center;
}

.card__city-temp > h1 {
  font-size: 6rem;
}

.card__desc {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1.2rem;
}

.card__details {
  display: flex;
  margin-top: 3rem;
}

.card__details {
  display: flex;
  justify-content: space-between;
}

.card__details-1,
.card__details-2 {
  width: 47%;
}

.card__details-1 > p,
.card__details-2 > p {
  font-size: 1.4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 0;
  border-bottom: 1px solid lightgrey;
}

@media (max-width: 550px) {
  .container {
    width: 40rem;
  }
}

@media (max-width: 420px) {
  .container {
    width: 30rem;
  }
}

@media (max-width: 320px) {
  .search-input {
    width: 20rem;
  }
  .container {
    width: 25rem;
  }
}
